*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'TTLakes';
}
@font-face {
  font-family: 'TTLakes';
  src: url(fonts/TTLakesCompressed-Medium.ttf) format('ttf'), url(fonts/TTLakesCompressed-Medium.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'TTLakes';
  src: url(fonts/TTLakesCondensed-DemiBold.ttf) format('ttf'), url(fonts/TTLakesCondensed-DemiBold.woff) format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'TTLakes';
  src: url(fonts/TTLakesCondensed-Bold.ttf) format('ttf'), url(fonts/TTLakesCondensed-Bold.woff) format('woff');
  font-weight: 800;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  font-size: 16px;
  color: #7E7E82;
  line-height: 24px;
  letter-spacing: -0.2px;
}
main{
  width:320px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
  16px 0px 52px rgba(14, 24, 80, 0.2); 
}
.mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:30px
}
.mobile-menu__header {
  display: flex;
  justify-content: space-between;
  height: 116px;
  padding: 8px 24px 56px;
  align-items: center;
}
.mobile-menu__header-group {
  display: flex;
  gap:16px;
  align-items: center;
}
.mobile-menu__header-close {
  width: 40px;  
  height: 40px;
  background-image: url(image/img-mm/close.png);
}
.mobile-menu__header-logo {
  width: 97px;  
  height: 51px;
  background-image: url(image/img-mm/logo.png);
}
.mobile-menu__header-search {
  width: 40px;  
  height: 40px;
  background-image: url(image/img-mm/search.png);
}
.mobile-menu__title {
  height: 32px;
  line-height: 24px;
  border-left: 4px solid #41F6D7;
  padding-left: 24px;
  padding-top: 4px;
  margin-bottom: 12px;
}
.mobile-menu__list a{
  color: #1B1C21;
  font-size: 16px;
  line-height: 24px;
}
.mobile-menu__list li{
  transition: 0.8s;
}
.mobile-menu__list li:hover{
  transition: 0.8s;
  background-color: aquamarine;
}
.mobile-menu__list li {
padding: 16px 24px;
}
.mobile-menu__footer {
  display: flex;
  flex-direction: column;
  gap:12px;
 padding: 32px 24px;
}
.mobile-menu__footer-icons  {
  display: flex;
  gap:16px
}
.mobile-menu__footer-icons div {
  width: 40px;
  height: 40px;
}
.mobile-menu__footer-icons-call {
  background-image: url(image/img/call.png);
}
.mobile-menu__footer-icons-msg {
  background-image: url(image/img/chat.png);
}
.mobile-menu__footer-icons-profile {
  background-image: url(image/img/profile.png);
}
.mobile-menu__footer-lang {
  display: flex;
  gap:16px
}
.mobile-menu__footer-mail {
  color: #7E7E82;
}
.mobile-menu__footer-phone {
  font-size: 24px;
  line-height: 32px;
  font-weight:800 ;
  color: #1B1C21;
}
.mobile-menu__footer-lang {
  color: #7E7E82;
}
.mobile-menu__footer-lang__en__active {
  color:#1B1C21
}
.button {
  filter:brightness(100%) contrast(1);
  transition: 2s;
}
.button:hover {
  filter:brightness(150%) contrast(2);
  transition: 0.5s;
}
.mobile-menu__footer-lang div:hover:not(.mobile-menu__footer-lang__en__active){
  font-size: 17px;
  color: #1B1C21;
  transition: 0.8s;
}
